{%extends 'base.html'%}

{%block title%}
About
{%endblock%}

{%block main%}

<h2>About Us</h2>
<div class='bios'>
  <div class='leah bio'>
    <img src='/media/images/leah-profile.png'>
      <h3>Leah Davis</h3>
      <p>Leah is a programmer and yoga instructor based in Los Angeles, California. She has a kitten named Little Prince, and she loves to go on hikes with her pals.</p>
      <div class="links">
        <a href='https://www.linkedin.com/in/leahdavis25624/'><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/davisstacked"><i class="fab fa-github-square fa-2x"></i></a>
      </div>
  </div>
  <div class='sebastian bio'>
    <img src='/media/images/sebastian-profile.jpg'>
      <h3>Sebastian Lee</h3>
      <p>Sebastian is a recent college graduate with a degree in History from Cal Poly SLO. In his free time he enjoys exercising and playing the guitar.</p>
      <div class="links">
        <a href='https://www.linkedin.com/in/sebastian-lee-925970183/'><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/SebasLee"><i class="fab fa-github-square fa-2x"></i></a>
      </div>
  </div>  
  <div class='tony bio'>
    <img src='/media/images/tony-profile.JPG'>
      <h3>Tony Yu</h3>
      <p>Tony is a recovered banker turned software engineer. He is obligated to take his dog Butter to the beach every week or he makes a mess of the house. Tony enjoys traveling and experiencing different culture and food.</p>
      <div class="links">
        <a href='https://www.linkedin.com/in/xtonyyu/'><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/xTonyYu/"><i class="fab fa-github-square fa-2x"></i></a>
      </div>
  </div>  
  <div class='zach bio'>
    <img src='/media/images/zach-profile.jpeg'>
      <h3>Zach Milan</h3>
      <p>Zach is a programmer and writer based in Denver, Colorado. He shares custody of a puggle and blue heeler named Amelia and Alonso. You can find him walking along the Cherry Creek trail every morning, singing along to musicals.</p>
      <div class="links">
        <a href='https://www.linkedin.com/in/zachmilan/'><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/ZoomIsland"><i class="fab fa-github-square fa-2x"></i></a>
      </div>
  </div>      
</div>  

{% endblock %}