{%extends 'base.html'%}
{%block title%}
profile
{%endblock%}

{%block main%}
 <div class="profile-content">
   <section class="profile">
    <img src="{{ profile.image }}" alt="post name">
    <div class="username">
      <h6>Username</h6>
      <h2>{{user.username}}</h2>
    </div> 
    <div class="current-city">
      <h6>Current City</h6>
      <h4>{{profile.city}}</h4>
    </div>
    <div class="join-date">
      <h6>Join Date</h6>
      <h4>{{profile.join_date}}</h4>
    </div>
    <form action="" method="POST">
      <button type="submit">Update Profile</button>
    </form>
   </section>
   <section class="cities">
    <h2>Cities</h2>
    {% for city in cities %}
        <div class="citybox">
           <img src="{{ city.image }}" alt="city name"> 
            <h2>{{ city.name }}</h2>
        </div>
        {% endfor %} 
   </section>
   <section class="posts">
    <h2>Posts</h2>
    {% for post in posts %}
    <div class="postbox">
       <img src="{{ profile.image }}" alt="post name"> 
        <div class="posttext">
         <h2>{{ post.title }}</h2>
         <p>{{ post.blurb }}</p>
        </div> 
    </div>
    {% endfor %} 
   </section>
 </div>
{%endblock%}

