{%extends 'base.html'%}
{%block title%}
profile
{%endblock%}

{%block main%}
<div class="dialogueContainer {{ hidden }}">
  <div class="dialogueBox">
      <!-- this is where we'll put the login/signup forms -->
      {% if profile_form %}
      <form action="{% url 'edit_profile' %}" method="POST">
        {% csrf_token %}
        {{ profile_form.as_p}}
        <button type="submit">Submit</button>
      </form>
      {% endif %}
      {% if post %}
        <div class="post-show">
          <h2>{{ post.title }}</h2>
          <h3>in {{ city.name }}</h3>
          <hr>
          <p>{{ post.blurb }}</p>
          <h5>by {{ profile.display_name }} </h5>
        </div>
      {% endif %}
      
  </div>
</div>
 <div class="profile-content">
   <section class="profile">
    <img src="{{ profile.image }}" alt="post name">
    <div class="username">
      <h6>Name</h6>
      <h2>{{ profile.display_name }}</h2>
    </div> 
    <div class="current-city">
      <h6>Current City</h6>
      <h4>{{profile.city}}</h4>
    </div>
    <div class="join-date">
      <h6>Join Date</h6>
      <h4>{{profile.join_date}}</h4>
    </div>
    <form action="{% url 'edit_profile' %}" method="GET">
      <button type="submit">Edit Profile</button>
    </form>
   </section>
   <section class="cities">
    <h2>Cities</h2>
    {% for city in cities %}
        <div class="citybox">
           <img src="{{ city.image }}" alt="city name"> 
            <h2>{{ city.name }}</h2>
        </div>
        {% endfor %} 
   </section>
   <section class="posts">
    <h2>Posts</h2>
    {% for post in posts %}
    <a href="{% url 'profile_post' post.id %}">
      <div class="postbox">
        <img src="{{ profile.image }}" alt="post name"> 
          <div class="posttext">
          <h2>{{ post.title }}</h2>
          <p>{{ post.blurb }}</p>
          </div> 
      </div>
    </a>
    {% endfor %} 
   </section>
 </div>
{%endblock%}

