<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <section class="profile">
    <img src="" alt="">
    <h2>Username</h2>
    <h4>Current City</h4>
    <h4>Join Date</h4>
   </section>
   <section class="cities">
    {% comment %} {% for city in cities %}
        <div>
           <img src="{{ city.image }}" alt="city name"> 
            <h2>{{ city.name }}</h2>
        </div>
        {% endfor %} {% endcomment %}
   </section>
   <section class="posts">
    {% comment %} {% for post in posts %}
    <div>
       <img src="{{ user.image }}" alt="post name"> 
        <h2>{{ post.title }}</h2>
        <p>{{ post.blurb.truncate }}</p>
    </div>
    {% endfor %} {% endcomment %}
   </section>
</body>
</html>