body {
    background: plum;
    position: relative;
}

/* Home page styling */
.carousel-inner {
    height: 50vh;
}
.carousel-item img {
    object-fit: fill;
}

/* Dialogue box styling */
<<<<<<< HEAD
=======
.hidden {
    opacity: 0;
    pointer-events: none;
}
>>>>>>> f24a85b46dd0625254f5f5f342c9472a3604a717

.dialogueContainer {
    position: absolute;
    height: calc(100vh - 56px);
    width: 100vw;
    background: rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: auto;
<<<<<<< HEAD
}

.hidden {
    opacity: 0;
    pointer-events: none;
=======
>>>>>>> f24a85b46dd0625254f5f5f342c9472a3604a717
}

.dialogueBox {
    height: 400px;
    width: 200px;
    background: white;
    z-index: 101;
}