* {
    box-sizing: border-box;
}

body {
    position: relative;
}

.helptext {
    height: 0 ;
    width: 0;
    display: none;
}

/* Home page styling */
.carousel-inner {
    height: 50vh;
}
.carousel-item img {
    object-fit: fill;
}

/* Dialogue box styling */
.dialogueContainer {
    position: absolute;
    height: calc(100vh - 56px);
    width: 100vw;
    background: rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.dialogueBox {
    min-height: 200px;
    min-width: 200px;
    max-width: 500px;
    background: white;
    z-index: 101;
    border: solid grey 2px;
    border-radius: 20px;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.close-box {
    cursor: pointer;
}
.close-box:hover {
    color: red;
}
.fa-times-circle {
    position: absolute;
    top: 10px;
    right: 10px;
}

.form-content {
    margin: 40px 10px;
    padding: 10px;
}

.post-show {
    min-width: 300px;
    padding: 10px;
    margin: 15px 0;
}

.post-show h2 {
    margin: 0;
    text-align: center;
}

.post-show h3 {
    color: grey;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
}
.post-show h5 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.description {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description h2 {
    margin-top: 25px;
}

.topics {
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.topic {
    width: 200px;
    margin: 10px;
}

.profile-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100vw;
}

.profile {
    height: 150px;
    width: 100vw;
    background-color: plum;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.image-display {
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
}
.image-display form label {
    display: none;
}
.profile-img {
    height: 120px;
    width: 120px;
    margin: 10px;
}


h6 {
    margin: 0;
    padding: 0;
    font-size: 9px;
}

.citybox img,
.postbox img {
    height: 90%;
}

.cities,
.posts {
    margin-top: 20px;
    padding: 10px;
}

.cities {
    width: 30%;
    min-width: 330px;
    margin-left: 10px;
}

.citybox {
    width: 95%;
    height: 100px;
    background-color: orange;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid grey;
    margin: 15px 0px;
}
.citybox h2,
.posttext {
    margin-left: 10px;
}
.posts {
    width: 65%;
    margin-right: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
}
.post-header i {
    font-size: 3em !important;
    margin-right: 50px;
    margin-bottom: 10px;
}

.postbox {
    height: 150px;
    width: 95%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid grey;
}